.BlackHome{
    display: inline-block;
    transition: 0.4s;
    transform: scale(1);
}

.BlackHome:hover{
    transition: 0.4s;
    transform: scale(1.1);
    color: orangered;
}

.nav_menu{
    display: inline-block;
    transition: 0.4s;
    transform: scale(1);
}

.nav_menu:hover{
    transition: 0.4s;
    transform: scale(1.1);
    color: orangered;
}

.portfolio_container a{
    display: inline-block;
    transition: 0.4s;
    transform: scale(1);
}

.portfolio_container a:hover{
    transition: 0.4s;
    transform: scale(1.1);
    color: orangered;
    text-decoration: none;
}

.message_a{
    transition: 0.4s;
    transform: scale(1)
}

.message_a:hover{
   transition: 0.4s;
   transform: scale(1);
   background-color: white;
   color: black; 
}

.contacts_social_a{
    transition: 0.4s;
    transform: scale(1);
}

.contacts_social_a:hover{
    transition: 0.2s;
    transform: scale(1);
    opacity: 0.3;
}

@media (max-width: 767px){
    .menu hr{
        height: 0px;
    }
    
    nav{
        height: 55px;
        position: absolute;
    }
    
    .main_container{
        margin-top: -55px;
    }
    
    .about_container{
        margin-top: 50px;
    }
    
}

