a{
    display: inline-block;
    transition: 0.4s;
    transform: scale(1);
}

a:hover{
    transition: 0.4s;
    transform: scale(1.1);
    color: orangered;
}

.message_a{
    transition: 0.4s;
    transform: scale(1)
}

.message_a:hover{
   transition: 0.4s;
   transform: scale(1);
   background-color: white;
   color: black; 
}

.contacts_social_a{
    transition: 0.4s;
    transform: scale(1);
}

.contacts_social_a:hover{
    transition: 0.2s;
    transform: scale(1);
    opacity: 0.3;
}
